{% for rev in reviews %}
<article>
    <h5 class="dark:text-white">{{ rev.header }}</h5>
    <div class="flex items-center mb-1">
        {% include 'post/stars.html'%}
        <h3 class="ml-2 text-sm font-semibold text-gray-900 dark:text-white">{{ rev.score|floatformat|default:"-" }}</h3>
    </div>
    <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400"><p>Reviewed by <strong>{{ rev.user.username }}</strong> at <time datetime="2017-03-03 19:00">{{ rev.created_at}}</time></p></footer>
    <p class="mb-2 font-light text-gray-500 dark:text-gray-400">{{rev.body}}</p>

    <aside>
        <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">{{ rev.number_of_upvotes }} people found this helpful</p>
        <div class="flex items-center mt-3 space-x-3 divide-x divide-gray-200 dark:divide-gray-600">
            {% if user.is_authenticated %}
            {% include 'upvote/create_upvote_form.html' %}
            {% include 'upvote/destroy_upvote_form.html' %}
            {% endif %}
        </div>
    </aside>
</article>
{% endfor %}