{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Digitravel</title>	
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>
			{% include "nav.html" %}
			Digitravel :) <br>
			{% block content %}
			{% endblock %}

			<script type="text/javascript" src="/digitravel/node_modules/flowbite/src/flowbite.js"></script>
			<script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
	</body>

</html>
