{% if user == com.user %}
<form action="{% url 'destroy_comment'%}" role="form" method="post">
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <input type="hidden" name="comment_id" value="{{ com.id }}">
    <button type="submit" onclick="return confirm('Are you sure?');"  class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
        Delete
    </button>
</form>
{% endif %}