{% extends "base.html" %}
{% block content %}
<div class="flex flex-wrap justify-center">
<div class="grid md:grid-cols-2 md:gap-6 m-5">
    <div class="overflow-auto">
        {% for item in user_reviews %}
        <article class="p-2 mb-2 shadow-md rounded hover:bg-gray-50 dark:hover:bg-gray-600">
            <a href="/post/{{item.post_id}}#myTabContent">
                <h5 class="dark:text-white">{{ item.header }}</h5>
            <div class="flex items-center mb-1">
                <div class="flex items-center mt-2.5 mb-5">
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Rating star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">{{ item.score|floatformat|default:"-" }}</span>
                </div>
            </div>
            <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400"><p>Reviewed by <strong>{{ user.username }}</strong> at <time datetime="2017-03-03 19:00">{{ item.created_at}}</time></p></footer>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">{{item.body}}</p>
        
            <aside>
                <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">{{ item.number_of_upvotes }} people found this helpful</p>
            </aside>
        </a>
        </article>
        {% endfor %}
    </div>
    <div class="overflow-auto">
        {% for com in user_comments %}
        <article class="p-2 mb-2 shadow-md rounded hover:bg-gray-50 dark:hover:bg-gray-600">
            <div class="flex flex-wrap">
                <div class="flex items-center mb-4 space-x-4">
                    <p class="dark:text-white">{{ com.user }} :</p>
                </div>
                <div>
                    <p class="mb-2 font-light dark:text-gray-400">{{ com.body }}</p>    
                </div>
            </div>
            <form action="{% url 'destroy_comment'%}?next={{ request.path }}" role="form" method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ com.post_id }}">
                <input type="hidden" name="comment_id" value="{{ com.id }}">
                <button type="submit" onclick="return confirm('Are you sure?');"  class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    Delete
                </button>
            </form>
        </article>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
