<form action="{% url 'search' %}" method="GET">
    <input id="value" type="text" name="query">
    <select name="continent_s">
        <option value="None">--continent--</option>
        <option value="Asia">Asia</option>
        <option value="Africa">Africa</option>
        <option value="Europe">Europe</option>
        <option value="North America">North America</option>
        <option value="Oceania">Oceania</option>
        <option value="South America">South America</option>
      </select>
    <button class="button button-dark" data-ripple-light="true" type="submit" value="Submit">Rechercher</button>
</form>