<form action="{% url 'search' %}" class="flex mb-4" method="GET">
      <input id="value" class="form-control" type="text" name="query">
     <div class="w-full w-1/5 h-12">
      <select name="continent_s">
          <option value="None">--continent--</option>
          <option value="Asia">Asia</option>
          <option value="Africa">Africa</option>
          <option value="Europe">Europe</option>
          <option value="North America">North America</option>
          <option value="Oceania">Oceania</option>
          <option value="South America">South America</option>
      </select>
    </div>
      <div class="">
        <button class="" type="submit" value="Submit">Rechercher</button>
      </div>
  </form>