{% extends "base.html" %}
{% block content %}
<div class="flex flex-wrap justify-center m-5">
<div class="grid md:grid-cols-2 md:gap-6">
<img style="max-width: 700px;" class="w-auto h-auto rounded-lg shadow-xl dark:shadow-gray-800" src="https://source.unsplash.com/800x600/?{{post.city}}" alt="image description">

<div style="max-width: 800px;" class="w-auto p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><span data-flag={{post.language}}></span>&nbsp;{{ post.city }} - {{ post.country }}</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    <div class="grid md:grid-cols-2 md:gap-6">
    <ul class="space-y-1 max-w-md list-inside text-gray-500 dark:text-gray-400">
        <li class="flex items-center">
            <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            {{ post.city }}
        </li>
        <li class="flex items-center">
            <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            {{ post.currency }}
        </li>
        <li class="flex items-center">
            <svg class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
            {{ post.language }}
        </li>
    </ul>
    <ul class="space-y-1 max-w-md list-inside text-gray-500 dark:text-gray-400">
        <li class="flex items-center">
            <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            {{ post.continent }}
        </li>
        <li class="flex items-center">
            <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            {{ post.region }}
        </li>
        <li class="flex items-center">
            <svg class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
            {{ post.language }}
        </li>
    </ul>
    </div>
</div>
Note : {{ post.post_score.avg_rating }} <br><br>
</div>

</div>

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex justify-center gap-12 -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Reviews</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Comments</button>
        </li>
</div>
<div id="myTabContent">
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% if user.is_authenticated %}
        {% if user_review %}
        <h2>Votre Review : </h2><br>
        Auteur : {{ user_review.user.username }}<br>
        Titre : {{ user_review.header }}<br>
        Body : {{ user_review.body }}<br>
        Score : {{ user_review.score }} <br>
        {% include 'review/edit_review_form.html' %}
        {% else %}
        {% include 'review/create_review_form.html' %}
        {% endif %}
        <hr> <br>
        {% endif %}
        <h2>REVIEWS</h2>
        {% for rev in reviews %}
        Auteur : {{ rev.user.username }}<br>
        Titre : {{ rev.header }}<br>
        Body : {{ rev.body }}<br>
        Score : {{ rev.score }} <br>
        {% if user.is_authenticated %}
        {% include 'upvote/create_upvote_form.html' %}
        {% endif %}
        Upvotes : {{ rev.number_of_upvotes }} <br>
        {% endfor %}
    </div>
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        {% if user.is_authenticated %}
        Créer un com
        {% include 'comment/create_comment_form.html' %}
        {% endif %}
        <br><br><br>
        Avis : <br>
        Commentaires : <br>
        {% for com in comments %}
        {% include 'comment/destroy_comment_form.html' %}
        {{ com.id }}<br>
        {{ com.body }}<br>
        {{com.user}}<br><br>
        {% endfor %}
    </div>
</div>
<script>
    const getFlagEmoji = (countryCode) => countryCode.toUpperCase().replace(/./g,
    char => String.fromCodePoint(127397 + char.charCodeAt())
    );


    const flagReplace = document.querySelectorAll('[data-flag]');
    flagReplace.forEach(s => s.innerHTML = getFlagEmoji(s.dataset.flag))
</script>
{% endblock %}