{% extends "base.html" %}
{% block content %}
Ville : {{ post.city }}<br>
Pays : {{ post.country }}<br>
Langue : {{ post.language }}<br><br><br>
Note : {{ post.post_score.avg_rating }} <br><br>
{% if user.is_authenticated %}
{% if user_review %}
<h2>Votre Review : </h2><br>
Auteur : {{ user_review.user.username }}<br>
Titre : {{ user_review.header }}<br>
Body : {{ user_review.body }}<br>
Score : {{ user_review.score }} <br>
{% include 'review/edit_review_form.html' %}
{% include 'review/destroy_review_form.html' %}
{% else %}
Créer une review :
{% include 'review/create_review_form.html' %}
{% endif %}
<hr> <br>
{% endif %}
<h2>REVIEWS</h2>
{% for rev in reviews %}
Auteur : {{ rev.user.username }}<br>
Titre : {{ rev.header }}<br>
Body : {{ rev.body }}<br>
Score : {{ rev.score }} <br>
{% if user.is_authenticated %}
{% include 'upvote/create_upvote_form.html' %}
{% endif %}
Upvotes : {{ rev.number_of_upvotes }} <br>
{% endfor %}

<hr><br>
{% if user.is_authenticated %}
Créer un com
{% include 'comment/create_comment_form.html' %}
{% endif %}
<br><br><br>
Avis : <br>
Commentaires : <br>
{% for com in comments %}
{% include 'comment/destroy_comment_form.html' %}
{{ com.id }}<br>
{{ com.body }}<br>
{{com.user}}<br><br>
{% endfor %}
{% endblock %}