{% extends "base.html" %}
{% block content %}
<div class="flex flex-wrap grow justify-center m-5">
    <div class="grid md:grid-cols-2 md:gap-6">
        <img style="" class="w-auto h-auto rounded-lg shadow-xl dark:shadow-gray-800" src="https://source.unsplash.com/800x600/?{{post.city}}" alt="image description">

        <div style="" class="w-auto p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><span data-flag={{post.language}}></span>&nbsp;{{ post.city }} - {{ post.country }}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            <div class="grid md:grid-cols-2 md:gap-6">
                <ul class="space-y-1 max-w-md list-inside text-gray-500 dark:text-gray-400">
                    <li class="flex items-center">
                        🏙️ {{ post.city }}, {{ post.country }}
                    </li>
                    <li class="flex items-center">
                        🪙 {{ post.currency }}
                    </li>
                    <li class="flex items-center">
                        🗣️ {{ post.language }}
                    </li>
                </ul>
                <ul class="space-y-1 max-w-md list-inside text-gray-500 dark:text-gray-400">
                    <li class="flex items-center">
                        🌍 {{ post.continent }}, {{ post.region }}
                    </li>
                    <li class="flex items-center">
                        {% load humanize %}
                        👫 {{ post.population|intcomma }}
                    </li>
                    <li class="flex items-center">
                        {{post.latitude}}, {{post.longitude}}
                    </li>
                </ul>
            </div>
            <br>
            <hr>
            <br>
            {% include 'review/global_review.html'%}
        </div>
    </div>
</div>

<div class="grid md:grid-cols-2 md:gap-6 m-5">
    <div>
        <!-- MAPBOX-->
        <div id='map' class="full-w rounded" style='height: 300px;'></div>
        <!---->
    </div>
    <div>
        <!-- Weather widget -->

        <!---->
    </div>
</div>
<!-- Comment/Review Section -->

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex justify-center gap-12 -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Reviews</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Comments</button>
        </li>
    </ul>
</div>
<div id="myTabContent">
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% if user.is_authenticated %}
            {% if user_review %}
                <div class="flex flex-wrap justify-center m-5">
                    <div class="grid grow md:grid-cols-2 md:gap-6">
                        <article>
                            <h5 class="dark:text-white">{{ user_review.header }}</h5>
                            <div class="flex items-center mb-1">
                                <div class="flex items-center mt-2.5 mb-5">
                                    {% include 'post/stars.html'%}
                                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">{{ user_review.score|floatformat|default:"-" }}</span>
                                </div>
                                <h3 class="ml-2 text-sm font-semibold text-gray-900 dark:text-white">{{ user_review.score|default:"-" }}</h3>
                            </div>
                            <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400"><p>Reviewed by <strong>{{ user_review.user.username }}</strong> at <time datetime="2017-03-03 19:00">{{ user_review.created_at}}</time></p></footer>
                            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">{{user_review.body}}</p>
                        
                            <aside>
                                <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">{{ user_review.number_of_upvotes }} people found this helpful</p>
                            </aside>
                        </article>
                        {% include 'review/edit_review_form.html' %}
                    </div>
                </div> 
            {% else %}
                <div class="flex flex-wrap justify-center m-5">
                    <div class="grid grow md:grid-cols-1 md:gap-6">
                        {% include 'review/create_review_form.html' %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% include 'review/index_review.html' %}
    </div>

    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        {% if user.is_authenticated %}
        {% include 'comment/create_comment_form.html' %}
        {% endif %}
        {% include 'comment/index_comment.html' %}
    </div>
</div>

 <!-- End Comment/Review Section -->

<script>
    const getFlagEmoji = (countryCode) => countryCode.toUpperCase().replace(/./g,
    char => String.fromCodePoint(127397 + char.charCodeAt())
    );


    const flagReplace = document.querySelectorAll('[data-flag]');
    flagReplace.forEach(s => s.innerHTML = getFlagEmoji(s.dataset.flag))
</script>

<script>
mapboxgl.accessToken = '{{map_api}}';
const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/omegad/clcgfh3xi00bp14n69gzzz7um', // style URL
    center: [{{post.longitude}}, {{post.latitude}}], // starting position [lng, lat]
    zoom: 9, // starting zoom
});
</script>
{% endblock %}